<div class="right-panel">
        <div class="pages-section">
            <h4>Code reviews</h4>
            <a class="page" href="/review">
                <div class="dp">
                    <img src="./assets/images/logo.png" alt="">
                </div>
                <p class="name">Review Page</p>
            </a>
        </div>

        {{!-- <div class="friends-section">
            {{#each users as |user|}}
            <h4>Users</h4>
            <a class='friend' href="/user/{{id}}">
                <div class="dp">
                    <i class="fas fa-user" style="font-size:24px;"></i>
                </div>
                <p class="name">{{name}}</p>
            </a>
            {{else}}
            <h6 class=""></h6>
            {{/each}}
        </div> --}}
    </div>