

<div class="post">
    <div class="post-top">
        <div class="">
            <i class="fas fa-user" style="font-size:24px;"></i>
        </div>
        <div class="post-info">
            <p class="name">{{name}}</p>
        </div>
    </div>
</div>