<div class="post">
    <div>
        <header class="post-header post-header-title ml-5">
            <p class="name">{{user.name}}</p>
            <p class="name">{{user.username}}</p>
            <p class="name">{{user.email}}</p>
            <p class="name">{{user.password}}</p>
        </header>
    </div>
</div>