
{{#each users as |user|}}

        <div class="post">
            <div class="post-top">
                <div class="">
                    <i class="fas fa-user" style="font-size:24px;"></i>
                </div>
                <div class="post-info">
                    <p class="name">{{name}}</p>
                    <span class="time">{{username}}</span>
                </div>
            </div>
        </div>

        {{else}}
        <h6 class="">there are currently no users</h6>
        {{/each}}