<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <link rel="stylesheet" href="/stylesheets/mainstyle.css">
    <title>Forge</title>
</head>

<body>
    <nav>
        <div class="container">
            <div class="nav-left">
                <a href="/"><img class="logo" src="/assets/images/logo.png" alt="Logo"></a>
                <input id="searchButton" type="text" name="search" placeholder="Search Forge...">
                <button id="search" type="submit"><i class="fa fa-search"></i></button>
            </div>
            <div class="nav-middle">
                <a href="/" class="active">
                    <i class="fa fa-home"></i>
                </a>

                <a href="/people">
                    <i class="fa fa-users"></i>
                </a>
            </div>

            <div class="nav-right">
                <a href="/admin"><i class="fas fa-user a" style="font-size:24px;"></i></a>
                {{#if loggedIn}}
                <a href="/profile" id="profile-link" class="logout" style="width:100%">Edit Profile</a>
                <a href="/splash" id="logout-link" class="logout">Logout</a>
                {{else}}
                <a href="/login" class="logout">Login</a>
                {{/if}}
            </div>
        </div>
    </nav>
 <main> 
     
   <!-- SCROLL -->
       <div class="scroll" data-rate = ".3" data-direction="vertical">
        <div class="wrapper">
            <div class="container">
                <div class="left-panel">
                    <ul>
                        <li>
                            <span class="profile"></span>
                            <p>Rob Atalla</p>
                        </li>
                        <li>
                            <i class="fa fa-user-friends"></i>
                            <p>Friends</p>
                        </li>
                        <li>
                            <i class="fa fa-play-circle"></i>
                            <p>Videos</p>
                        </li>
                        <li>
                            <i class="fa fa-flag"></i>
                            <p>Pages</p>
                        </li>
                        <li>
                            <i class="fa fa-users"></i>
                            <p>Groups</p>
                        </li>
                        <li>
                            <i class="fa fa-bookmark"></i>
                            <p>Bookmark</p>
                        </li>
                        <li>
                            <i class="fab fa-facebook-messenger"></i>
                            <p>Inbox</p>
                        </li>
                        <li>
                            <i class="fas fa-calendar-week"></i>
                            <p>Events</p>
                        </li>
                        <li>
                            <i class="fa fa-bullhorn"></i>
                            <p>Ads</p>
                        </li>
                        <li>
                            <i class="fas fa-hands-helping"></i>
                            <p>Offers</p>
                        </li>
                        <li>
                            <i class="fas fa-briefcase"></i>
                            <p>Jobs</p>
                        </li>
                        <li>
                            <i class="fa fa-star"></i>
                            <p>Favorites</p>
                        </li>
                    </ul>

                    <div class="footer-links">
                        <a href="#">Privacy</a>
                        <a href="#">Terms</a>
                        <a href="#">Advance</a>
                        <a href="#">More</a>
                    </div>
                </div>
                <div class="middle-panel">
                    <div class="post create">
                        <a href="admin/create"><button class="btn" type="submit">Create a post</button></a>
                    </div>
                    {{{body}}}

                </div>

           <!-- SCROLL -->
            <div class="scroll" data-rate = ".1" data-direction="vertical">
                <div class="right-panel">
                    <div class="pages-section">
                        <h4>Code reviews</h4>
                        <a class="page" href="/review">
                            <div class="dp">
                                <img src="./assets/images/logo.png" alt="">
                            </div>
                            <p class="name">Review Page</p>
                        </a>
                    </div>

                    <div class="friends-section">
                        <h4>Users</h4>
                        <a class='friend' href="/user/{{id}}">
                            <div class="dp">
                                <img src="./images/aaron.jpg" alt="">
                            </div>
                            <p class="name">Aler Tex</p>
                        </a>

                    </div>
                </div>
            </div>
              
    <span class="scroll" data-rateY="1" data-rateX="-2" data-direction="horizontal">
       <div class="dp">
           <img class="resize" src="/assets/images/logo.png" alt="">
    </span>          
 </body>
 

<script src="/javascript/search.js"></script>
<script src="/javascript/logout.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js" 
integrity="sha512-PNXCBnFH9wShbV+mYnrfo0Gf3iSREgBWmYAoMIfc+Z83vVq3Nu4yxBk6j+BZ40ZIhtW3WlTQdBvW3AYLAnlgpA==" 
crossorigin="anonymous" referrerpolicy="no-referrer"></script>   
<script>
    // SPECIAL THANKS to GARY SIMON - "Vanilla JavaScript Parallax with just a Few Lines of Code" https://youtu.be/Dxm6EwvQIl8 \\
    window.addEventListener ('scroll', function (e) {

    const target = document.querySelectorAll('.scroll');
     // target.style.transform = 'translate3d(0px, 50px, 0px';
     // target.style.background = '#b3ff00';
     // console.log(target.style);
     // console.log(window.pageYOffset);
    var scrolled = window.pageYOffset;
       
    var index = 0, length = target.length; 
    for ( index; index < length; index++ ) {
        var pos = window.pageYOffset * target[index].dataset.rate;

    if(target[index].dataset.direction === 'vertical'){
        target[index].style.transform = 'translate3d(0px, '+pos+'px, 0px)';
    } else 
        { var posX = window.pageYOffset * target[index].dataset.ratex;
          var posY = window.pageYOffset * target[index].dataset.ratey;
          target[index].style.transform = 'translate3d('+posX+'px, '+posY+'px, 0px)'; } 
        }

        {{!-- var ismobile = /Android|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
            if (ismobile){ bypass parallax effect } --}}
});

function clickCounter() {
    id = true; 
  if (typeof(Storage) !== "session") {
    if (localStorage.clickcount) {
      localStorage.clickcount = (localStorage.clickcount)+1;
    } else {
      localStorage.clickcount = 1;
    }
    document.getElementById("result").innerHTML = "You have clicked the button " + localStorage.clickcount + " time(s).";
  } else {
    document.getElementById("result").innerHTML = "Sorry, your browser does not support web storage...";
  }
}
</script>
</html>
<script src="/javascript/search.js"></script>
<script src="/javascript/logout.js"></script>
<script src="/javascript/profile.js"></script>
