<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <link rel="stylesheet" href="/stylesheets/mainstyle.css">
    <title>Forge</title>
</head>

<body>
    <nav>
        <div class="container">
            <div class="nav-left">
                <a href="/"><img class="logo" src="/assets/images/logo.png" alt="Logo"></a>
                <input id="searchButton" type="text" name="search" placeholder="Search Forge...">
                <button id="search" type="submit"
                    style="border:none;background:transparent;margin:5px;font-size:18px;"><i
                        class="fa fa-search"></i></button>
            </div>
            <div class="nav-middle">
                <a href="/" class="active">
                    <i class="fa fa-home"></i>
                </a>

                <a href="/people">
                    <i class="fa fa-users"></i>
                </a>
            </div>

            <div class="nav-right">
                <a href="/admin"><i class="fas fa-user a" style="font-size:24px;"></i></a>
                {{#if loggedIn}}
                <a href="/profile" id="profile-link" class="logout" style="width:100%">Edit Profile</a>
                <a href="/splash" id="logout-link" class="logout">Logout</a>
                {{else}}
                <a href="/login" class="logout">Login</a>
                {{/if}}
            </div>
        </div>
    </nav>
    <main>
        <div class="wrapper">
            <div class="container">
                    {{{body}}}
            </div>
        </div>
    </main>
</body>

{{!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js"
    integrity="sha512-PNXCBnFH9wShbV+mYnrfo0Gf3iSREgBWmYAoMIfc+Z83vVq3Nu4yxBk6j+BZ40ZIhtW3WlTQdBvW3AYLAnlgpA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script> --}}

</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js" 
integrity="sha512-PNXCBnFH9wShbV+mYnrfo0Gf3iSREgBWmYAoMIfc+Z83vVq3Nu4yxBk6j+BZ40ZIhtW3WlTQdBvW3AYLAnlgpA==" 
crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
<script src="/javascript/search.js"></script>
<script src="/javascript/logout.js"></script>