<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <link rel="stylesheet" href="/stylesheets/mainstyle.css">
    <title>Forge</title>
</head>

<body>
    <nav>
        <div class="container">
            <div class="nav-left">
                <a href="/"><img class="logo" src="/assets/images/logo.png" alt="Logo"></a>
                <input id="searchButton" type="text" name="search" placeholder="Search Forge...">
                <button id="search" type="submit"><i class="fa fa-search"></i></button>
            </div>
            <div class="nav-middle">
                <a href="/" class="active">
                    <i class="fa fa-home"></i>
                </a>

                <a href="/people">
                    <i class="fa fa-users"></i>
                </a>
            </div>

            <div class="nav-right">
                <a href="/admin"><i class="fas fa-user a" style="font-size:24px;"></i></a>
                {{#if loggedIn}}
                <a href="/splash" id="logout-link" class="logout">Logout</a>
                {{else}}
                <a href="/login" class="logout">Login</a>
                {{/if}}
            </div>
        </div>
    </nav>


    <main>
        <div class="wrapper">
            <div class="container">
                <div class="left-panel">
                    <ul>
                        <li>
                            <span class="profile"></span>
                            <p>Rob Atalla</p>
                        </li>
                        <li>
                            <i class="fa fa-user-friends"></i>
                            <p>Friends</p>
                        </li>
                        <li>
                            <i class="fa fa-play-circle"></i>
                            <p>Videos</p>
                        </li>
                        <li>
                            <i class="fa fa-flag"></i>
                            <p>Pages</p>
                        </li>
                        <li>
                            <i class="fa fa-users"></i>
                            <p>Groups</p>
                        </li>
                        <li>
                            <i class="fa fa-bookmark"></i>
                            <p>Bookmark</p>
                        </li>
                        <li>
                            <i class="fab fa-facebook-messenger"></i>
                            <p>Inbox</p>
                        </li>
                        <li>
                            <i class="fas fa-calendar-week"></i>
                            <p>Events</p>
                        </li>
                        <li>
                            <i class="fa fa-bullhorn"></i>
                            <p>Ads</p>
                        </li>
                        <li>
                            <i class="fas fa-hands-helping"></i>
                            <p>Offers</p>
                        </li>
                        <li>
                            <i class="fas fa-briefcase"></i>
                            <p>Jobs</p>
                        </li>
                        <li>
                            <i class="fa fa-star"></i>
                            <p>Favorites</p>
                        </li>
                    </ul>

                    <div class="footer-links">
                        <a href="#">Privacy</a>
                        <a href="#">Terms</a>
                        <a href="#">Advance</a>
                        <a href="#">More</a>
                    </div>
                </div>
                <div class="middle-panel">
                    <div class="post create">
                        <a href="admin/create"><button class="btn" type="submit">Create a post</button></a>
                    </div>
                    {{{body}}}

                </div>
                <div class="right-panel">
                    <div class="pages-section">
                        <h4>Code reviews</h4>
                        <a class="page" href="/review">
                            <div class="dp">
                                <img src="./assets/images/logo.png" alt="">
                            </div>
                            <p class="name">Review Page</p>
                        </a>
                    </div>

                    <div class="friends-section">
                        <h4>Users</h4>
                        <a class='friend' href="/user/{{id}}">
                            <div class="dp">
                                <img src="./images/aaron.jpg" alt="">
                            </div>
                            <p class="name">Aler Tex</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

    </main>
</body>

</html>

<script src="/javascript/search.js"></script>
<script src="/javascript/logout.js"></script>