<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{!--
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> --}}
    <link rel="stylesheet" href="/stylesheets/mainstyle.css">
    <title>Forge</title>
</head>

<body>
    <nav>
        <div class="container">
            <div class="nav-left">
                <a href="/"><img src="/assets/images/logo.png" alt="Logo" class="logo"></a>
                <input type="text" placeholder="Search Forge...">
            </div>
            <div class="nav-middle">
                <a href="#" class="active">
                    <i class="fa fa-home"></i>
                </a>

                <a href="#">
                    <i class="fa fa-user-friends"></i>
                </a>

                <a href="#">
                    <i class="fa fa-play-circle"></i>
                </a>

                <a href="#">
                    <i class="fa fa-users"></i>
                </a>
            </div>


            <div class="nav-right">
                <span class="profile"></span>

                <a href="#">
                    <i class="fa fa-bell"></i>
                </a>
                <span>
                    <div>
                        <i class="fas fa-ellipsis-h dropbtn" onclick="dl()"></i>
                        <div id="myDropdown" class="dropdown-content">
                            <ul>
                                <li id="logout-link">Logout</li>
                                <li id="settings" href="/">Settings</li>
                            </ul>
                        </div>
                    </div>
                </span>
                <i class="fas fa-toggle-on dk" onclick=""></i>

            </div>
        </div>


    </nav>



    <main>
        <div class="wrapper">
            <div class="container">
                <div class="left-panel">
                    <ul>
                        <li>
                            <span class="profile"></span>
                            <p>Rob Atalla</p>
                        </li>
                        <li>
                            <i class="fa fa-user-friends"></i>
                            <p>Friends</p>
                        </li>
                        <li>
                            <i class="fa fa-play-circle"></i>
                            <p>Videos</p>
                        </li>
                        <li>
                            <i class="fa fa-flag"></i>
                            <p>Pages</p>
                        </li>
                        <li>
                            <i class="fa fa-users"></i>
                            <p>Groups</p>
                        </li>
                        <li>
                            <i class="fa fa-bookmark"></i>
                            <p>Bookmark</p>
                        </li>
                        <li>
                            <i class="fab fa-facebook-messenger"></i>
                            <p>Inbox</p>
                        </li>
                        <li>
                            <i class="fas fa-calendar-week"></i>
                            <p>Events</p>
                        </li>
                        <li>
                            <i class="fa fa-bullhorn"></i>
                            <p>Ads</p>
                        </li>
                        <li>
                            <i class="fas fa-hands-helping"></i>
                            <p>Offers</p>
                        </li>
                        <li>
                            <i class="fas fa-briefcase"></i>
                            <p>Jobs</p>
                        </li>
                        <li>
                            <i class="fa fa-star"></i>
                            <p>Favorites</p>
                        </li>
                    </ul>

                    <div class="footer-links">
                        <a href="#">Privacy</a>
                        <a href="#">Terms</a>
                        <a href="#">Advance</a>
                        <a href="#">More</a>
                    </div>
                </div>
                <div class="main-panel">
                    {{{body}}}
                </div>
                <div class="right-panel">
                    <div class="pages-section">
                        <h4>Your pages</h4>
                        <a class='page' href="#">
                            <div class="dp">
                                <img src="./images/logo.png" alt="">
                            </div>
                            <p class="name">Forge</p>
                        </a>

                        <a class='page' href="#">
                            <div class="dp">
                                <img src="./images/ku.jpg" alt="">
                            </div>
                            <p class="name">KUBootcamp</p>
                        </a>
                    </div>

                    <div class="friends-section">
                        <h4>Friends</h4>
                        <a class='friend' href="#">
                            <div class="dp">
                                <img src="./images/aaron.jpg" alt="">
                            </div>
                            <p class="name">Aaron Jewell</p>
                        </a>

                        <a class='friend' href="#">
                            <div class="dp">
                                <img src="./images/kelsey.jpg" alt="">
                            </div>
                            <p class="name">kelsey Gasser</p>
                        </a>

                        <a class="friend" href="#">
                            <div class="dp">
                                <img src="./images/calvin.jpg" alt="">
                            </div>
                            <p class="name">Calvin Freese</p>
                        </a>

                        <a class="friend" href="#">
                            <div class="dp">
                                <img src="./images/brianw.jpg" alt="">
                            </div>
                            <p class="name">Brian Wilde</p>
                        </a>

                        <a class="friend" href="#">
                            <div class="dp">
                                <img src="./images/micah.jpg" alt="">
                            </div>
                            <p class="name">Micah Duehring</p>
                        </a>

                        <a class="friend" href="#">
                            <div class="dp">
                                <img src="./images/willk.jpg" alt="">
                            </div>
                            <p class="name">Will Knowles</p>
                        </a>

                        <a class="friend" href="#">
                            <div class="dp">
                                <img src="./images/williamH.jpg" alt="">
                            </div>
                            <p class="name">Willian Hass</p>
                        </a>

                    </div>
                </div>
            </div>
        </div>

    </main>
</body>

</html>


<script src="/javascript/logout.js"></script>
<script src="/javascript/index.js"></script>