<div class="post create">
    <div class="post-full">
        <div class="wrapper-post">
            <section class="post-popup">
                <form id="#new-post-form" action="#">
                    <div class="content">
                        <img src="/assets/images/dp.png" alt="logo">
                        <div class="detail info-post">
                            <p>jhgvhjvk</p>
                        </div>
                    </div>
                    <textarea placeholder="Ask a question..." spellcheck="false" required></textarea>
                    <div class="theme-emoji">
                        <img src="/assets/icons/theme.svg" alt="theme">
                        <img src="/assets/icons/smile.svg" alt="smile">
                    </div>
                    <button type="submit">Post</button>
                </form>
            </section>
        </div>
    </div>
</div>

<script src="/javascript/add-post.js"></script>