
{{>left-panel}}

<div class="middle-panel">

    <div class="post create">
        <div class="post-full">
            <div class="wrapper-post">
                <section class="post-popup">
                    <form id="edit-post-form">
                        <input type="text" class="text-label" name="post-title" value="{{post.title}}" />
                        <input type="url" class="text-label" name="post-url" id="url" value="{{post.post_url}}"
                            pattern="https://.*">
                        <input class="text-input" name="post-body" value="{{post.post_body}}" />
                        <div class="theme-emoji">
                            <img src="/assets/icons/theme.svg" alt="theme">
                            <img src="/assets/icons/smile.svg" alt="smile">
                        </div>
                        <button type="submit" class="btn-save">Update post</button>
                        <button id="delete-post" type="button" class="btn-del">Delete post</button </form>
                </section>
            </div>
        </div>
    </div>
</div>
{{>right-panel user}}

<script src=" /javascript/edit-post.js">
</script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>