<!-- displaying articles -->
{{> post-info post}}


<div class="post">

  {{#if loggedIn}}
  <form id="comment-link">

    <textarea class="textarea" name="comment-body" placeholder="Insert comment here..."></textarea>
    <button class="" type="submit">add comment</button>

  </form>
  {{/if}}
  <div {{> comments post.comments}}</div>

  {{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
  {{/if}}
</div>