
{{!-- {{> post-info post}}
<div id="issues-container" class="list-group">

</div>

<div id="limit-warning">

</div>
<script src="/javascript/single.js"></script> --}}


{{> post-info-review post}}

<div class="post">


<a href="/login"><button class="" type="submit">add comment</button></a>

  <div {{> comments post.comments}}</div>

</div>